body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 16px;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.logo {
    margin: 35px;       
}

.banner-headline {
    text-align: center;
    letter-spacing: 1.0rem;
    margin: 0 30px;
}
.banner-headline span {
    color: hsl(0, 36%, 70%);
}

.banner-paragraph {
    text-align: center;
    margin: 0 30px;
    color: hsl(0, 36%, 70%);
    line-height: 2.1rem;
}

.email {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

.email button {
    text-decoration: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    padding: 9px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 20px;
    transform: translateX(-35px);
    cursor: pointer;
    vertical-align: middle;
    -webkit-box-shadow: 7px 15px 40px -2px rgba(238,140,140,0.76);
    -moz-box-shadow: 7px 15px 40px -2px rgba(238,140,140,0.76);
    box-shadow: 7px 15px 40px -2px rgba(238,140,140,0.76);
}

input {
    border-radius: 25px;
    border: 1px solid hsl(0, 36%, 80%);
    padding: 10px;
    display:inline-block;
}

input[placeholder] {
    text-align:left;
}

input::placeholder{
    color: hsl(0, 36%, 80%);
}

input::-ms-input-placeholder {
    color: 	#ee8c8c;
}

@media screen and (max-width: 850px) {
    .banner-image {
        background-image: url("images/hero-mobile.jpg");
        height: 70vh;
        width: 100vw;
        background-repeat: no-repeat; 
        background-origin: content-box;
        background-position: top center;
        background-size: cover;
    }

    .banner-headline {
        font-size: 25px;
    }

    .email {
        text-align: center;
        margin-bottom: 20px;
        padding: 10px;
    }
    
    input {
        width: 80%;
        display:inline-block;
    }
}

@media screen and (max-width: 380px){
    .banner-image {
        height: 60vh;
    }
    .email {
        margin-bottom: 20px;
    }

    input {
        width: 70%;
        display:inline-block;
    }
}

@media screen and (min-width:850px){
    body {
        background: url("images/bg-pattern-desktop.svg");
    }

    .logo {
        display: inline-block;
    }
    .banner-image {
        background-image: url("images/hero-desktop.jpg");
        height: 800px;
        width: 50vw;
        background-repeat: no-repeat; 
        background-origin: content-box;
        float: right;
        background-size: cover;
    }

    .banner-headline {
        font-size: 40px;
    }
}
