body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 16px;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.logo {
    margin: 35px;       
}

.banner-headline {
    text-align: center;
    letter-spacing: 1.0rem;
    margin: 0 30px;
}
.banner-headline span {
    color: hsl(0, 36%, 70%);
}

.banner-paragraph {
    text-align: center;
    margin: 0 30px;
    color: hsl(0, 36%, 70%);
    line-height: 2.1rem;
}

.email {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

.submitButton {
    text-decoration: none;
    border: none;
    padding: 9px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    transform: translateX(-35px);
    cursor: pointer;
    vertical-align: middle;
    -webkit-box-shadow: 7px 15px 40px -2px rgba(238,140,140,0.76);
    -moz-box-shadow: 7px 15px 40px -2px rgba(238,140,140,0.76);
    box-shadow: 7px 15px 40px -2px rgba(238,140,140,0.76);
}

.submit-color {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.emailInput {
    border-radius: 25px;
    border: 1px solid hsl(0, 36%, 80%);
    padding: 10px;
    display:inline-block;
}

.emailInput[placeholder] {
    text-align:left;
    padding-left: 20px;
}

.emailInput::placeholder{
    color: hsl(0, 36%, 80%);
}

.emailInput::-ms-input-placeholder {
    color: hsl(0, 36%, 80%);
}

.active-border {
    border: 2px solid hsl(0, 93%, 68%);
}

.active-button {
    background-color: hsl(350, 60%, 88%);
}

.error {
    transform:translateX(-135px);
    vertical-align: middle;
    visibility: hidden;
}

.error-active {
    visibility: visible;
}

.error-message {
    color: hsl(0, 93%, 68%);
    font-size: 0.8em;
    text-align: left;
    margin-left: 25px;
    visibility: hidden;
}

.error-message-visible {
    visibility: visible;
}

@media screen and (min-width: 850px) and (max-width: 973px) {
    .email {
        position: relative;
    }
    .error {
        position:absolute;
        top: 18px;
    }
}

@media screen and (max-width: 850px) {
    .banner-image {
        background-image: url("images/hero-mobile.jpg");
        height: 70vh;
        width: 100vw;
        background-repeat: no-repeat; 
        background-origin: content-box;
        background-position: top center;
        background-size: cover;
    }

    .banner-headline {
        font-size: 25px;
    }

    .email {
        text-align: center;
        margin-bottom: 20px;
        padding: 10px;
    }
    
    .emailInput {
        width: 70%;
        display:inline-block;
    }
}

@media screen and (max-width: 380px){
    .banner-image {
        height: 60vh;
    }
    .email {
        margin-bottom: 20px;
        padding: 5px;
    }

    .emailInput {
        width: 65%;
        display:inline-block;
    }
}

@media screen and (min-width:850px){
    body {
        background: url("images/bg-pattern-desktop.svg");
    }

    .logo {
        display: inline-block;
        margin-left: 10%;
    }
    .banner-image {
        background-image: url("images/hero-desktop.jpg");
        height: 100vh;
        width: 50vw;
        background-repeat: no-repeat; 
        background-origin: content-box;
        float: right;
        background-size: cover;
    }

    .banner-headline {
        font-size: 40px;
        margin-left: 10%;
        margin-right: 55vw;
        margin-top: 150px;
    }

    .banner-paragraph {
        margin-left:10%;
        margin-right: 55vw;
    }

    .email {
        margin-left: 10%;
        margin-right: 55vw;
    }

    .emailInput{
        margin: 0;
        width: 60%;
    }
}
